/* rubik-regular - latin_cyrillic */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/rubik-v21-latin_cyrillic-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/rubik-v21-latin_cyrillic-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* rubik-500 - latin_cyrillic */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  src: local(""),
    url("../fonts/rubik-v21-latin_cyrillic-500.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/rubik-v21-latin_cyrillic-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* rubik-700 - latin_cyrillic */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("../fonts/rubik-v21-latin_cyrillic-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/rubik-v21-latin_cyrillic-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* VARIABLES */

:root {
  --header-color: #f6f6f6;
  --price-color: #2959ce;
  --price-number: #555555;
  --light-blue: #7297ef;
  --search-color: #8d8d8d;
  --language-box: #dce6ff;
  --language-ru: #a6a6a6;
  --nav-text: #7f7f7f;
  --nav-bottom-line: #d1d1d1;
  --title-h2: #000000;
  --paragraph-grey: #4a4b4c;
  --time-color: #5e5f61;
  --footer-text: #ffffff;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  font-family: "Rubik", "Arial", sans-serif;
  font-weight: 700;
}

main {
  flex-grow: 1;
}

ul,
ol {
  margin: 0px;
  padding-left: 0px;
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1240px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

/*header start*/
.header-site {
  background: var(--header-color);
  padding: 30px 0px 30px 0px;
}

.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.header-logo_box {
  display: flex;
  align-items: center;
}

.header-logo_title {
  width: 276px;
  margin: 0;
  text-align: center;
  background: var(--footer-text);
  border-radius: 7px;
}

.header-logo_link {
  width: 264px;
  padding: 9px 6px 8px 9px;
  font-family: "Rubik";
  font-size: 27px;
  line-height: 28px;
  font-weight: 700;
  color: var(--light-blue);
}

.header-price {
  width: 69px;
  font-family: "Rubik";
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  color: var(--price-color);
}

.usd {
  margin-left: 35px;
}

.rub {
  margin-left: 25px;
}

.usd_link {
  margin-left: 2px;
  color: var(--price-number);
}

.rub_link {
  margin-left: 2px;
  color: var(--price-number);
}

.header-personal_box {
  display: flex;
}

.personal-input_box {
  display: flex;
  align-items: center;
  width: 275px;
  height: 45px;
  margin-right: 25px;
  background: var(--footer-text);
  border-radius: 60px;
}

.personal-link {
  height: 20px;
  width: 20px;
  padding: 13px 6px 12px 15px;
  color: var(--search-color);
}

.perosanl-input {
  width: 42px;
  height: 17px;
  font-family: "Rubik";
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  border: none;
}

::placeholder {
  color: var(--search-color);
}

.personal_language-box {
  display: flex;
  justify-content: center;
  width: 70px;
  margin-right: 25px;
  background: var(--language-box);
  border-radius: 39px;
}

.personal_language-uz {
  height: 30px;
  margin-top: 7px;
  font-family: "Rubik";
  font-size: 13px;
  line-height: 12px;
  font-weight: 400;
  text-align: center;
  color: #000000;
  background: var(--footer-text);
  border-radius: 70%;
  border: none;
}

.personal_language-ru {
  height: 30px;
  margin-top: 7px;
  font-family: "Rubik";
  font-size: 13px;
  line-height: 12px;
  font-weight: 400;
  text-align: center;
  color: var(--language-ru);
  background: var(--language-box);
  border: none;
}

.personal_enter-button {
  width: 89px;
  font-family: "Rubik";
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  color: var(--footer-text);
  background: #7296ec;
  border-radius: 10px;
  border: none;
}

/* header end */
/* main start
.nav__bar {
  border-bottom: 1px solid var(--nav-bottom-line);
  background-color: #ffffff;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  width: 1240px;
  padding: 30px 0px 20px 0px;
}

.nav__item {
  font-family: "Rubik";
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
  text-align: center;
  color: var(--nav-text);
} */
