/* rubik-regular - latin_cyrillic */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/rubik-v21-latin_cyrillic-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/rubik-v21-latin_cyrillic-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* rubik-500 - latin_cyrillic */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  src: local(""),
    url("../fonts/rubik-v21-latin_cyrillic-500.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/rubik-v21-latin_cyrillic-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* rubik-700 - latin_cyrillic */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("../fonts/rubik-v21-latin_cyrillic-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/rubik-v21-latin_cyrillic-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* VARIABLES */

:root {
  --header-color: #f6f6f6;
  --price-color: #2959ce;
  --price-number: #555555;
  --light-blue: #7297ef;
  --search-color: #8d8d8d;
  --language-box: #dce6ff;
  --language-ru: #a6a6a6;
  --nav-text: #7f7f7f;
  --nav-bottom-line: #d1d1d1;
  --border-bottom-line: #d2d2d2;
  --bottom-button-aside: #eaeaea;
  --title-h3: #000000;
  --paragraph-grey: #4a4b4c;
  --time-color: #5e5f61;
  --footer-text: #ffffff;
  --footer-border-bottom: #cecece;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  font-family: "Rubik", "Arial", sans-serif;
  font-weight: 700;
}

main {
  flex-grow: 1;
}

ul,
ol {
  margin: 0px;
  padding-left: 0px;
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1240px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

/*header start*/
.header-site {
  background: var(--header-color);
  padding: 30px 0px 0px 0px;
}

.header-box {
  display: flex;
  align-items: center;
  padding-bottom: 30px;
}

.logo-link {
  width: 276px;
  margin-right: 35px;
  color: var(--light-blue);
  background-color: #ffffff;
  border-radius: 7px;
}

.logo-img {
  width: 264px;
  padding: 9px 6px 8px 6px;
}

.price-list {
  display: flex;
  width: 176px;
  margin-right: 247px;
}

.price-item {
  font-family: "Rubik";
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  color: var(--price-color);
}
.price-item:not(:last-child) {
  margin-right: 25px;
}

.price-span {
  font-family: "Rubik";
  padding-left: 7px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  color: #555555;
}
.header-form {
  width: 248px;
  margin-right: 25px;
  padding: 15px 0px 13px 45px;
  background: var(--footer-text);
  border: none;
  border-radius: 60px;
}

.header-form-input {
  border: none;
  outline: none;
  font-family: "Rubik";
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: var(--search-color);
}

.header-form-label {
  position: relative;
}

.header-form-label::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -24px;
  width: 20px;
  height: 20px;
  background-image: url("../images/search-logo.svg");
  background-repeat: no-repeat;
}

::placeholder {
  color: var(--search-color);
}

.header-btn {
  display: flex;
  width: 70px;
  margin-right: 25px;
  background: var(--language-box);
  border-radius: 39px;
}

.header-btn-uz {
  width: 30px;
  margin: 3px 8px 3px 3px;
  font-family: "Rubik";
  font-size: 13px;
  line-height: 12px;
  font-weight: 400;
  text-align: center;
  color: #000000;
  background: var(--footer-text);
  border-radius: 70%;
  border: none;
}

.header-btn-ru {
  width: 16px;
  margin: 13px 0px 13px 0px;
  padding: 0px;
  font-family: "Rubik";
  font-size: 13px;
  line-height: 12px;
  font-weight: 400;
  text-align: center;
  color: var(--language-ru);
  background: var(--language-box);
  border: none;
}

.header-enter-btn {
  width: 89px;
  padding: 13px 20px;
  font-family: "Rubik";
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  color: var(--footer-text);
  background: #7296ec;
  border-radius: 10px;
  border: none;
}

/*header end */

/* main start*/
.nav-bar {
  background-color: #ffffff;
  padding-bottom: 40px;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  width: 1240px;
  padding: 30px 0px 20px 0px;
  border-bottom: 1px solid var(--nav-bottom-line);
}

.nav-link {
  font-family: "Rubik";
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
  text-align: center;
  color: var(--nav-text);
}

.shop-mee-link {
  display: inline-block;
  padding-bottom: 50px;
}
.shop-mee-img {
  width: 1240px;
}

.news {
  padding-bottom: 60px;
}

.news-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1240px;
}

.news-item {
  width: 394px;
  margin-bottom: 10px;
  border-radius: 17px;
  background-color: var(--header-color);
}
.news-item:nth-child(4),
.news-item:nth-child(5),
.news-item:nth-child(6) {
  margin-bottom: 0px;
}

.news-item-title {
  width: 345px;
  margin: 0;
  padding: 20px 18px 10px 17px;
  font-family: "Rubik";
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
  color: var(--title-h3);
}
.news-item-paragraph {
  width: 359px;
  margin: 0px;
  padding: 20px 18px 15px 17px;
  font-family: "Rubik";
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: var(--paragraph-grey);
}
.news-item-photo {
  width: 359px;
  padding: 20px 18px 18px 17px;
  border-radius: 10px;
}

.news-item-logo {
  display: flex;
  align-items: center;
  padding: 0px 0px 15px 17px;
}
.news-logo-img {
  width: 20px;
  border-radius: 5px;
  margin-right: 10px;
}
.news-item-span {
  width: 140px;
  font-family: "Rubik";
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  color: var(--time-color);
}
.news-item-time {
  width: 140px;
  font-family: "Rubik";
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  color: var(--time-color);
}

.main-aside {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1050px;
  margin: auto;
  padding-bottom: 60px;
  background-image: url(../images/background1x.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.main-aside-link {
  width: 404px;
  margin: 24px 0px 24px 29px;
  font-family: "Rubik";
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
  color: var(--title-h3);
}
.main-aside-button {
  margin-right: 71px;
  padding: 13px 30px;
  font-family: "Rubik";
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  color: var(--footer-text);
  background: #f78b3b;
  border-radius: 10px;
  border: none;
}

.world-news {
  padding-bottom: 100px;
}
.world-news-title {
  margin: 0;
  padding-bottom: 20px;
}
.world-news-box {
  display: flex;
  padding-bottom: 17px;
}
.global-news {
  padding-right: 29px;
}
.global-news-list {
  width: 817px;
}
.global-news-item {
  display: flex;
  margin-bottom: 10px;
  background: var(--header-color);
  border-radius: 15px;
}
.global-news-main-img {
  width: 210px;
  padding: 20px 15px 20px 17px;
}
.global-news-title {
  width: 535px;
  margin: 0;
  padding: 20px 0px 10px 0px;
  font-family: "Rubik";
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
  color: var(--title-h3);
}
.global-news-pargraph {
  width: 535px;
  margin: 0;
  padding-bottom: 17px;
  font-family: "Rubik";
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: var(--paragraph-grey);
}
.global-news-logo-link {
  display: flex;
  align-items: center;
}
.global-news-logo-img {
  width: 20px;
  margin-right: 10px;
  border-radius: 5px;
}
.global-news-span {
  font-family: "Rubik";
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  color: var(--time-color);
}
.global-news-time {
  font-family: "Rubik";
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  color: var(--time-color);
}

.main-news {
  width: 393px;
  height: 502px;
  background: var(--header-color);
  border-radius: 15px;
}

.main-news-item {
  padding-bottom: 25px;
  margin-bottom: 10px;
}

.main-news-title {
  width: 99px;
  margin: 0;
  padding: 20px 0px 25px 17px;
  font-family: "Rubik";
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: var(--title-h3);
}

.main-news-inside-title {
  width: 356px;
  margin: 0;
  padding: 0px 0px 8px 17px;
  font-family: "Rubik";
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  color: var(--title-h3);
}
.main-news-span {
  width: 159px;
  position: relative;
  padding: 0px 0px 0px 17px;
  font-family: "Rubik";
  font-size: 13px;
  line-height: 15px;
  font-weight: 400;
  color: var(--time-color);
}

.main-news-item .main-news-span:after {
  position: absolute;
  width: 359px;
  height: 0px;
  content: "";
  left: 17px;
  top: 32px;
  bottom: 20px;
  border-bottom: 1px solid var(--border-bottom-line);
}

.main-news-item:last-child .main-news-span:after {
  border-bottom: none;
}

.main-bottom-aside-image {
  width: 393px;
  height: 337px;
}

.main-bottom-btn {
  padding: 17px 354px;
  font-family: "Rubik";
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  color: var(--title-h3);
  background: var(--bottom-button-aside);
  border-radius: 10px;
  border: none;
}
/*main end*/

.footer-site {
  background: var(--light-blue);
  padding-bottom: 40px;
}

.footer-logo-link {
  display: inline-block;
  padding: 40px 0px 15px 0px;
}

.footer-info {
  display: flex;
  width: 1098px;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--footer-border-bottom);
}

.footer-paragraph {
  margin: 0;
  margin-right: 302px;
  width: 229px;
  font-family: "Rubik";
  font-size: 12px;
  line-height: 19px;
  font-weight: 400;
  color: var(--footer-text);
}
.footer-list {
  padding: 0px 103px 10px 0px;
}
.footer-item {
  padding-bottom: 20px;
}
.footer-item-link {
  font-family: "Rubik";
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  color: var(--footer-text);
}

.social-media {
  display: flex;
}
.social-media-span {
  width: 161px;
  margin-right: 649px;
  font-family: "Rubik";
  font-size: 18px;
  line-height: 23px;
  font-weight: 500;
  color: #ffffff;
}
.social-media-list {
  display: flex;
  margin: auto;
}
.social-media-item {
  padding-right: 25px;
}
.social-media-link {
}
.social-media-image {
  width: 25px;
  height: 25px;
}
